div {
  height: 100px;
  width: 100px;
  background-color: limegreen;
  /* transition: 2s; */
  /* transition-duration: 1s;
    transition-delay: 1s; */
  margin: auto;
  margin-top: 10px;
  transition: margin-top 2s ease-in 0.2s;
}

div:hover {
  /* background-color: green;
    border-radius: 50%; */
  background-color: pink;
  margin-top: 500px;
}
