body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 25px;
}

#calc {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(62, 189, 34, 0.733);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 5rem;
  background-color: rgba(55, 71, 51, 0.461);
  color: white;
  text-align: left;
}

button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: rgba(19, 18, 18, 0.7);
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: rgba(19, 18, 18, 0.9);
}

button:active {
  /* background-color: rgba(0, 247, 25, 0.667); */
  background-color: rgb(0, 0, 0);
}

.operator-btn {
  background-color: rgba(255, 17, 0, 0.816);
}
.operator-btn:hover {
  background-color: rgba(255, 17, 0, 0.616);
}
.operator-btn:active {
  background-color: rgba(255, 17, 0, 0.9);
}
