body {
  text-align: center;
  margin-top: 5rem;
}

h1 {
  margin-bottom: 3rem;
}

input {
  margin-right: 2rem;
  height: 2.5rem;
  width: 600px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  border-radius: 2rem;
  border: 2px solid black;
}